openapi: 3.0.3
info:
  title: Jatrix API
  description: |
    Jatrix is a SaaS Governance Engine for identity, multi-tenancy, authorization,
    and product-level control. This API manages organizations, products, tenants,
    users, roles, permissions, and entitlements.

    All responses follow `{ data, meta: { request_id, timestamp } }`. List responses
    include `meta.pagination: { limit, offset, total }`. Errors use
    `{ error: { code, message, details }, meta }`.
  version: 1.0.0
  contact:
    name: Jatrix
    email: jeffreyespinel.1992@gmail.com

servers:
  - url: https://demo.jatrix.cloud
    description: Demo API base

tags:
  - name: Health
    description: Health and readiness endpoints
  - name: Authentication
    description: Token and refresh endpoints
  - name: Organizations
    description: Organization management
  - name: Products
    description: Product management
  - name: Tenants
    description: Tenant management
  - name: Users
    description: User account management
  - name: Permissions
    description: Permission management
  - name: Roles
    description: Role management
  - name: Role Permissions
    description: Role-permission assignments
  - name: Role Assignments
    description: User role assignments
  - name: User Permission Grants
    description: Direct per-user ALLOW/DENY permission grants, independent of role assignments (ADR-0011)
  - name: Entitlements
    description: Tenant-product entitlements
  - name: Biometric
    description: Biometric enrollment and 1:1 verification (face v1, fingerprint/rfid/nfc/retina future)
  - name: Groups
    description: User groups within a tenant (organizational containers; no effect on authorization in v1)
  - name: User Profiles
    description: Extended user identity data and document management
  - name: File Storage
    description: Upload files (logos, avatars, documents) to S3 via base64. Returns CDN URL at storage.jatrix.com
  - name: Brand
    description: Public branding config resolved by tenant subdomain

security:
  - bearerAuth: []

paths:
  /health:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getHealth
      tags: [Health]
      summary: Health check
      description: Returns API health status. Used for load balancer probes.
      security: []
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -L 'https://demo.jatrix.cloud/health'
      responses:
        "200":
          description: API is healthy

  /ready:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getReady
      tags: [Health]
      summary: Readiness check
      description: Returns readiness status. Verifies database connectivity.
      security: []
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -L 'https://demo.jatrix.cloud/ready'
      responses:
        "200":
          description: API is ready to serve traffic
        "503":
          description: API is not ready (e.g. database unavailable)

  /v1/auth/token:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    post:
      operationId: createToken
      tags: [Authentication]
      summary: Create token
      description: Authenticates with identifier (username or email) and password. Returns access and refresh tokens.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTokenInput"
      responses:
        "200":
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: User inactive or entitlement required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/auth/refresh:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    post:
      operationId: refreshToken
      tags: [Authentication]
      summary: Refresh token
      description: Exchanges a valid refresh token for new access and refresh tokens.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenInput"
      responses:
        "200":
          description: New tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: User inactive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/organizations:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listOrganizations
      tags: [Organizations]
      summary: List organizations
      description: >-
        Lists every organization on the platform. Requires the Platform Admin
        API Key — a user JWT or Organization API Key receives 403.
      security:
        - platformAdminAuth: []
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of organizations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationListResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      operationId: createOrganization
      tags: [Organizations]
      summary: Create organization
      description: >-
        Creates a top-level organization. Requires the Platform Admin API Key —
        a user JWT or Organization API Key receives 403.
      security:
        - platformAdminAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationInput"
      responses:
        "201":
          description: Organization created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/organizations/{orgId}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getOrganization
      tags: [Organizations]
      summary: Get organization by ID
      parameters:
        - $ref: "#/components/parameters/orgId"
      responses:
        "200":
          description: Organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateOrganization
      tags: [Organizations]
      summary: Update organization
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationInput"
      responses:
        "200":
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteOrganization
      tags: [Organizations]
      summary: Delete organization (soft delete)
      parameters:
        - $ref: "#/components/parameters/orgId"
      responses:
        "204":
          description: Organization deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/products:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listProducts
      tags: [Products]
      summary: List products
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of products
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createProduct
      tags: [Products]
      summary: Create product
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductInput"
      responses:
        "201":
          description: Product created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/products/{id}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getProduct
      tags: [Products]
      summary: Get product by ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Product
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateProduct
      tags: [Products]
      summary: Update product
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProductInput"
      responses:
        "200":
          description: Product updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteProduct
      tags: [Products]
      summary: Delete product (soft delete)
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: Product deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listTenants
      tags: [Tenants]
      summary: List tenants
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of tenants
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createTenant
      tags: [Tenants]
      summary: Create tenant
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantInput"
      responses:
        "201":
          description: Tenant created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants/{id}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getTenant
      tags: [Tenants]
      summary: Get tenant by ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Tenant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateTenant
      tags: [Tenants]
      summary: Update tenant
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTenantInput"
      responses:
        "200":
          description: Tenant updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteTenant
      tags: [Tenants]
      summary: Delete tenant (soft delete)
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: Tenant deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants/{id}/logo:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    patch:
      operationId: uploadTenantLogo
      tags: [File Storage]
      summary: Upload tenant logo
      description: |
        Uploads a logo image for the tenant. Accepts standard base64-encoded file.
        Returns the CDN URL (`storage.jatrix.com`). Requires `S3_BUCKET_NAME` env var to be set; returns 503 if not configured.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileUploadInput"
            example:
              file_base64: "/9j/4AAQSkZJRgAB..."
              content_type: "image/png"
      responses:
        "200":
          description: Logo uploaded — CDN URL returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Storage not configured (S3_BUCKET_NAME missing)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/organizations/{orgId}/tenants/{tenantId}/users:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listUsers
      tags: [Users]
      summary: List users
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of users
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createUser
      tags: [Users]
      summary: Create user
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserInput"
      responses:
        "201":
          description: User created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants/{tenantId}/users/by-permission:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listUsersByPermission
      tags: [Users]
      summary: List users by effective permission
      description: >-
        Returns the tenant users who effectively hold ANY of the requested
        permission keys within the product (repeat `permission` for OR),
        considering both direct grants (effect ALLOW, not overridden by a direct
        DENY) and role-derived permissions. Paginated.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - name: permission
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
          description: Permission key(s); repeat for OR (e.g. app.fsm.access).
        - name: product_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of users with the effective permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/organizations/{orgId}/tenants/{tenantId}/users/{id}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getUser
      tags: [Users]
      summary: Get user by ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: User
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateUser
      tags: [Users]
      summary: Update user
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserInput"
      responses:
        "200":
          description: User updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteUser
      tags: [Users]
      summary: Delete user (soft delete)
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: User deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants/{tenantId}/users/{id}/activate:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    post:
      operationId: activateUser
      tags: [Users]
      summary: Activate user
      description: Transitions a user from `pending` to `active`. Only pending users can be activated.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: User activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: User is not in pending status (INVALID_STATE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/organizations/{orgId}/tenants/{tenantId}/users/{id}/reject:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    post:
      operationId: rejectUser
      tags: [Users]
      summary: Reject user
      description: Transitions a user from `pending` to `rejected`. Only pending users can be rejected.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: User rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: User is not in pending status (INVALID_STATE)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/organizations/{orgId}/tenants/{tenantId}/users/{id}/avatar:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    patch:
      operationId: uploadUserAvatar
      tags: [File Storage]
      summary: Upload user avatar
      description: |
        Uploads an avatar image for a user. Accepts standard base64-encoded file.
        Returns the CDN URL. Requires `S3_BUCKET_NAME` to be set; returns 503 if not configured.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileUploadInput"
            example:
              file_base64: "/9j/4AAQSkZJRgAB..."
              content_type: "image/jpeg"
      responses:
        "200":
          description: Avatar uploaded — CDN URL returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Storage not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/organizations/{orgId}/tenants/{tenantId}/users/{userId}/profile:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getUserProfile
      tags: [User Profiles]
      summary: Get user profile
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: User profile (null if not yet created)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: upsertUserProfile
      tags: [User Profiles]
      summary: Upsert user profile
      description: Creates or fully replaces the extended profile for a user.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertUserProfileInput"
      responses:
        "200":
          description: Profile upserted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants/{tenantId}/users/{userId}/documents:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listUserDocuments
      tags: [User Profiles]
      summary: List user documents
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: List of documents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDocumentListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createUserDocument
      tags: [User Profiles]
      summary: Create user document (URL already known)
      description: Records a document with a pre-existing `file_url`. Use `/documents/upload` to upload a new file.
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserDocumentInput"
      responses:
        "201":
          description: Document created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDocumentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants/{tenantId}/users/{userId}/documents/upload:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    post:
      operationId: uploadUserDocument
      tags: [File Storage]
      summary: Upload user document
      description: |
        Uploads a document file (image or PDF) for a user. Accepts standard base64-encoded file.
        Creates the document record and returns the CDN URL. Requires `S3_BUCKET_NAME`; returns 503 if not configured.

        **Allowed content types:** `image/jpeg`, `image/png`, `image/webp`, `application/pdf`
        **Max size:** 5 MB
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadDocumentInput"
            example:
              file_base64: "JVBERi0xLjQ..."
              content_type: "application/pdf"
              document_type: "cedula"
              issued_at: "2020-01-01"
              expires_at: "2030-01-01"
      responses:
        "201":
          description: Document uploaded and record created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadDocumentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Storage not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/organizations/{orgId}/tenants/{tenantId}/users/{userId}/documents/{docId}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    patch:
      operationId: updateUserDocumentStatus
      tags: [User Profiles]
      summary: Update document status
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: docId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDocumentStatusInput"
      responses:
        "200":
          description: Document status updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDocumentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteUserDocument
      tags: [User Profiles]
      summary: Delete user document (soft delete)
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: docId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Document deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants/{tenantId}/groups:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listGroups
      tags: [Groups]
      summary: List groups
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of groups
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createGroup
      tags: [Groups]
      summary: Create group
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupInput"
      responses:
        "201":
          description: Group created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants/{tenantId}/groups/{id}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getGroup
      tags: [Groups]
      summary: Get group by ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateGroup
      tags: [Groups]
      summary: Update group
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupInput"
      responses:
        "200":
          description: Group updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteGroup
      tags: [Groups]
      summary: Delete group (soft delete)
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: Group deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants/{tenantId}/groups/{id}/members:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listGroupMembers
      tags: [Groups]
      summary: List group members
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: List of memberships
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupMembershipListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: addGroupMember
      tags: [Groups]
      summary: Add user to group
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddGroupMemberInput"
      responses:
        "201":
          description: Member added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupMembershipResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /v1/organizations/{orgId}/tenants/{tenantId}/groups/{id}/members/{userId}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    delete:
      operationId: removeGroupMember
      tags: [Groups]
      summary: Remove user from group
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - $ref: "#/components/parameters/id"
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Member removed
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/tenants/{tenantId}/users/{userId}/groups:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listUserGroups
      tags: [Groups]
      summary: List groups for a user
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/tenantId"
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: List of groups the user belongs to
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupListResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/brand:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getBrandConfig
      tags: [Brand]
      summary: Get brand config by subdomain
      description: Public endpoint — no auth required. Resolves tenant branding from the `subdomain` query param.
      security: []
      parameters:
        - name: subdomain
          in: query
          required: true
          schema:
            type: string
          description: Tenant subdomain (e.g. `acme` for `acme.myapp.com`)
      responses:
        "200":
          description: Brand config
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/products/{productId}/permissions:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listPermissions
      tags: [Permissions]
      summary: List permissions
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createPermission
      tags: [Permissions]
      summary: Create permission
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePermissionInput"
      responses:
        "201":
          description: Permission created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/products/{productId}/permissions/{id}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getPermission
      tags: [Permissions]
      summary: Get permission by ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updatePermission
      tags: [Permissions]
      summary: Update permission
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
        - $ref: "#/components/parameters/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePermissionInput"
      responses:
        "200":
          description: Permission updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deletePermission
      tags: [Permissions]
      summary: Delete permission (soft delete)
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: Permission deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/products/{productId}/roles:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listRoles
      tags: [Roles]
      summary: List roles
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of roles
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createRole
      tags: [Roles]
      summary: Create role
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoleInput"
      responses:
        "201":
          description: Role created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/products/{productId}/roles/{id}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getRole
      tags: [Roles]
      summary: Get role by ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateRole
      tags: [Roles]
      summary: Update role
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
        - $ref: "#/components/parameters/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRoleInput"
      responses:
        "200":
          description: Role updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteRole
      tags: [Roles]
      summary: Delete role (soft delete)
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: Role deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/products/{productId}/roles/{roleId}/permissions:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listRolePermissions
      tags: [Role Permissions]
      summary: List permissions for role
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
        - $ref: "#/components/parameters/roleId"
      responses:
        "200":
          description: List of permissions assigned to role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionsDataResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: setRolePermissions
      tags: [Role Permissions]
      summary: Set permissions for role
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/productId"
        - $ref: "#/components/parameters/roleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetPermissionsInput"
      responses:
        "200":
          description: Permissions updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionsDataResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/role-assignments:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listRoleAssignments
      tags: [Role Assignments]
      summary: List role assignments
      parameters:
        - $ref: "#/components/parameters/orgId"
        - name: tenant_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by tenant ID
        - name: product_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by product ID
        - name: user_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by user ID
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of role assignments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleAssignmentListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createRoleAssignment
      tags: [Role Assignments]
      summary: Create role assignment
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoleAssignmentInput"
      responses:
        "201":
          description: Role assignment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleAssignmentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/role-assignments/{id}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getRoleAssignment
      tags: [Role Assignments]
      summary: Get role assignment by ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Role assignment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleAssignmentResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteRoleAssignment
      tags: [Role Assignments]
      summary: Delete role assignment (soft delete)
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: Role assignment deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/user-permission-grants:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listUserPermissionGrants
      tags: [User Permission Grants]
      summary: List user permission grants
      parameters:
        - $ref: "#/components/parameters/orgId"
        - name: tenant_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by tenant ID
        - name: product_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by product ID
        - name: user_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by user ID
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of user permission grants
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPermissionGrantListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createUserPermissionGrant
      tags: [User Permission Grants]
      summary: Grant or deny a single permission to a user
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserPermissionGrantInput"
      responses:
        "201":
          description: User permission grant created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPermissionGrantResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /v1/organizations/{orgId}/user-permission-grants/{id}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getUserPermissionGrant
      tags: [User Permission Grants]
      summary: Get a user permission grant by ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: User permission grant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPermissionGrantResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteUserPermissionGrant
      tags: [User Permission Grants]
      summary: Revoke (soft delete) a user permission grant
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: User permission grant revoked
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/organizations/{orgId}/entitlements:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listEntitlements
      tags: [Entitlements]
      summary: List entitlements
      parameters:
        - $ref: "#/components/parameters/orgId"
        - name: tenant_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by tenant ID
        - name: product_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by product ID
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: List of entitlements
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: createEntitlement
      tags: [Entitlements]
      summary: Create entitlement
      parameters:
        - $ref: "#/components/parameters/orgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEntitlementInput"
      responses:
        "201":
          description: Entitlement created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Tenant already has entitlement to product
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/organizations/{orgId}/entitlements/{id}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: getEntitlement
      tags: [Entitlements]
      summary: Get entitlement by ID
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Entitlement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateEntitlement
      tags: [Entitlements]
      summary: Update entitlement
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEntitlementInput"
      responses:
        "200":
          description: Entitlement updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteEntitlement
      tags: [Entitlements]
      summary: Delete entitlement (soft delete)
      parameters:
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: Entitlement deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/biometric/enroll:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    post:
      operationId: enrollBiometric
      tags: [Biometric]
      summary: Enroll biometric
      description: Registers a biometric template for the authenticated user. Consent must be captured client-side before calling this endpoint.
      security:
        - bearerAuth: []
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X POST 'https://demo.jatrix.cloud/v1/biometric/enroll' \
              -H 'Authorization: Bearer <token>' \
              -H 'Content-Type: application/json' \
              -d '{"type":"face","slot":"primary","image_base64":"<base64>","consent_at":"2026-06-13T20:00:00Z"}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BiometricEnrollInput"
      responses:
        "201":
          description: Biometric enrolled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BiometricEnrollmentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Slot already enrolled for this type (CONFLICT)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unsupported biometric type or no face detected (UNSUPPORTED_TYPE / NO_FACE_DETECTED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/biometric/verify:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    post:
      operationId: verifyBiometric
      tags: [Biometric]
      summary: Verify biometric (1:1)
      description: Performs a 1:1 similarity check against an existing enrollment. Accepts Bearer JWT or Organization API Key for service-to-service calls.
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X POST 'https://demo.jatrix.cloud/v1/biometric/verify' \
              -H 'Authorization: Bearer <token>' \
              -H 'Content-Type: application/json' \
              -d '{"user_id":"<uuid>","type":"face","slot":"primary","image_base64":"<base64>"}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BiometricVerifyInput"
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BiometricVerifyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No enrollment found for user/type/slot (NOT_FOUND)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/biometric:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    get:
      operationId: listBiometricEnrollments
      tags: [Biometric]
      summary: List biometric enrollments
      description: Returns all active biometric enrollments for the authenticated user.
      security:
        - bearerAuth: []
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -L 'https://demo.jatrix.cloud/v1/biometric' \
              -H 'Authorization: Bearer <token>'
      responses:
        "200":
          description: List of biometric enrollments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BiometricEnrollmentListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/biometric/{id}:
    parameters:
      - $ref: "#/components/parameters/xRequestId"
    delete:
      operationId: deleteBiometricEnrollment
      tags: [Biometric]
      summary: Delete biometric enrollment (soft delete)
      description: Removes a biometric enrollment by ID. Only the enrollment owner may delete their own enrollments.
      security:
        - bearerAuth: []
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X DELETE 'https://demo.jatrix.cloud/v1/biometric/<uuid>' \
              -H 'Authorization: Bearer <token>'
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          description: Enrollment deleted
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token (RS256). Obtain via POST /v1/auth/token.
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Organization API Key for service-to-service calls. Looked up by SHA-256 hash.
    platformAdminAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >-
        Platform Admin API Key. Required for cross-organization operations,
        which span every organization on the platform and therefore cannot be
        scoped by the caller's own organization. Compared in constant time
        against PLATFORM_ADMIN_API_KEY. See 09-api-key-strategy.md.

  parameters:
    xRequestId:
      name: X-Request-ID
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: Client-supplied request ID for correlation. Echoed in response meta.
    orgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Organization ID
    tenantId:
      name: tenantId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Tenant ID
    productId:
      name: productId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Product ID
    roleId:
      name: roleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Role ID
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 100
      description: Pagination limit
    offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
      description: Pagination offset

  responses:
    BadRequest:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated but not permitted (error code FORBIDDEN)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Resource already exists
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnprocessableEntity:
      description: Unprocessable entity
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type: string
          format: uuid
          description: X-Request-ID from request or generated
        timestamp:
          type: string
          format: date-time
          description: ISO-8601 timestamp
    Pagination:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
        meta:
          $ref: "#/components/schemas/Meta"

    CreateTokenInput:
      type: object
      required: [organization_id, tenant_id, product_id, identifier, password]
      properties:
        organization_id:
          type: string
          format: uuid
        organization_slug:
          type: string
        tenant_id:
          type: string
          format: uuid
        tenant_slug:
          type: string
        product_id:
          type: string
          format: uuid
        product_slug:
          type: string
        identifier:
          type: string
          description: Username or email
        password:
          type: string
          format: password
    RefreshTokenInput:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string
    TokenResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            access_token:
              type: string
            refresh_token:
              type: string
            expires_in:
              type: integer
              description: Seconds until expiry
            token_type:
              type: string
              enum: [Bearer]
        meta:
          $ref: "#/components/schemas/Meta"

    Organization:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    CreateOrganizationInput:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
        slug:
          type: string
    UpdateOrganizationInput:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
    OrganizationResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Organization"
        meta:
          $ref: "#/components/schemas/Meta"
    OrganizationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Organization"
        meta:
          type: object
          properties:
            pagination:
              $ref: "#/components/schemas/Pagination"
            request_id:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time

    Product:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    CreateProductInput:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
        slug:
          type: string
    UpdateProductInput:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
    ProductResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Product"
        meta:
          $ref: "#/components/schemas/Meta"
    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Product"
        meta:
          type: object
          properties:
            pagination:
              $ref: "#/components/schemas/Pagination"
            request_id:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time

    Tenant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        subdomain:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, suspended, inactive]
        logo_url:
          type: string
          nullable: true
          description: CDN URL of the tenant logo (storage.jatrix.com). Set via PATCH /{id}/logo.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    CreateTenantInput:
      type: object
      required: [name, slug, status]
      properties:
        name:
          type: string
        slug:
          type: string
        status:
          type: string
          enum: [active, suspended, inactive]
    UpdateTenantInput:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        status:
          type: string
          enum: [active, suspended, inactive]
    TenantResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Tenant"
        meta:
          $ref: "#/components/schemas/Meta"
    TenantListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Tenant"
        meta:
          type: object
          properties:
            pagination:
              $ref: "#/components/schemas/Pagination"
            request_id:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time

    UserAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        external_id:
          type: string
          nullable: true
        username:
          type: string
        display_name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        avatar_url:
          type: string
          nullable: true
          description: CDN URL of the user avatar (storage.jatrix.com). Set via PATCH /{id}/avatar.
        custom_attributes:
          type: object
          nullable: true
          description: Arbitrary JSON attributes for the user.
        status:
          type: string
          enum: [active, inactive, suspended, pending, rejected]
        last_login_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    CreateUserInput:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
        password:
          type: string
          format: password
        email:
          type: string
          format: email
        display_name:
          type: string
        external_id:
          type: string
        status:
          type: string
          enum: [active, inactive, suspended, pending, rejected]
          default: active
        custom_attributes:
          type: object
          description: >-
            Free-form JSON object stored verbatim; never used for auth/authorization.
            Convention keys for descriptive person data: first_name, last_name,
            date_of_birth (YYYY-MM-DD). display_name stays the canonical name.
    UpdateUserInput:
      type: object
      properties:
        email:
          type: string
          format: email
        display_name:
          type: string
        password:
          type: string
          format: password
        status:
          type: string
          enum: [active, inactive, suspended, pending, rejected]
        custom_attributes:
          type: object
          description: >-
            Free-form JSON object stored verbatim; never used for auth/authorization.
            Convention keys for descriptive person data: first_name, last_name,
            date_of_birth (YYYY-MM-DD). display_name stays the canonical name.

    FileUploadInput:
      type: object
      required: [file_base64, content_type]
      properties:
        file_base64:
          type: string
          description: Standard base64-encoded file content (not URL-safe). Max 2 MB for logo/avatar, 5 MB for documents.
        content_type:
          type: string
          description: MIME type of the file.
          enum: [image/jpeg, image/png, image/webp, application/pdf]
    FileUploadResponse:
      type: object
      properties:
        url:
          type: string
          description: Permanent CDN URL at storage.jatrix.com.
          example: "https://storage.jatrix.com/{tenantId}/preferences/logo.png"

    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        phone:
          type: string
          nullable: true
        national_id:
          type: string
          nullable: true
        emergency_contact_name:
          type: string
          nullable: true
        emergency_contact_phone:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    UpsertUserProfileInput:
      type: object
      properties:
        phone:
          type: string
        national_id:
          type: string
        emergency_contact_name:
          type: string
        emergency_contact_phone:
          type: string
    UserProfileResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/UserProfile"
          nullable: true
        meta:
          $ref: "#/components/schemas/Meta"

    UserDocument:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [cedula, arl, passport, eps, other]
        file_url:
          type: string
          description: CDN URL of the document file.
        status:
          type: string
          enum: [pending, verified, expired]
        uploaded_by:
          type: string
          format: uuid
        issued_at:
          type: string
          nullable: true
          description: ISO date (YYYY-MM-DD)
        expires_at:
          type: string
          nullable: true
          description: ISO date (YYYY-MM-DD)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    CreateUserDocumentInput:
      type: object
      required: [type, file_url]
      properties:
        type:
          type: string
          enum: [cedula, arl, passport, eps, other]
        file_url:
          type: string
          description: Pre-existing URL for the document file.
        issued_at:
          type: string
          description: ISO date (YYYY-MM-DD)
        expires_at:
          type: string
          description: ISO date (YYYY-MM-DD)
    UpdateDocumentStatusInput:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [pending, verified, expired]
    UploadDocumentInput:
      type: object
      required: [file_base64, content_type, document_type]
      properties:
        file_base64:
          type: string
          description: Standard base64-encoded file. Max 5 MB.
        content_type:
          type: string
          enum: [image/jpeg, image/png, image/webp, application/pdf]
        document_type:
          type: string
          enum: [cedula, arl, passport, eps, other]
        issued_at:
          type: string
          description: ISO date (YYYY-MM-DD). Optional.
        expires_at:
          type: string
          description: ISO date (YYYY-MM-DD). Optional.
    UploadDocumentResponse:
      type: object
      properties:
        url:
          type: string
          description: CDN URL of the uploaded file.
        document:
          $ref: "#/components/schemas/UserDocument"
    UserDocumentResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/UserDocument"
        meta:
          $ref: "#/components/schemas/Meta"
    UserDocumentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/UserDocument"
        meta:
          $ref: "#/components/schemas/Meta"

    Group:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    CreateGroupInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
    UpdateGroupInput:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
    GroupResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Group"
        meta:
          $ref: "#/components/schemas/Meta"
    GroupListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Group"
        meta:
          type: object
          properties:
            pagination:
              $ref: "#/components/schemas/Pagination"
            request_id:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time

    GroupMembership:
      type: object
      properties:
        id:
          type: string
          format: uuid
        group_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        added_by:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
    AddGroupMemberInput:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: string
          format: uuid
    GroupMembershipResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/GroupMembership"
        meta:
          $ref: "#/components/schemas/Meta"
    GroupMembershipListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/GroupMembership"
        meta:
          $ref: "#/components/schemas/Meta"

    BrandConfig:
      type: object
      properties:
        org_id:
          type: string
          format: uuid
        org_name:
          type: string
        org_logo_url:
          type: string
          nullable: true
        tenant_id:
          type: string
          format: uuid
          nullable: true
        tenant_name:
          type: string
          nullable: true
        tenant_logo_url:
          type: string
          nullable: true
          description: CDN URL of the tenant logo.
    BrandResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/BrandConfig"
        meta:
          $ref: "#/components/schemas/Meta"
    UserResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/UserAccount"
        meta:
          $ref: "#/components/schemas/Meta"
    UserListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/UserAccount"
        meta:
          type: object
          properties:
            pagination:
              $ref: "#/components/schemas/Pagination"
            request_id:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time

    Permission:
      type: object
      properties:
        id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        key:
          type: string
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    CreatePermissionInput:
      type: object
      required: [key]
      properties:
        key:
          type: string
        description:
          type: string
    UpdatePermissionInput:
      type: object
      properties:
        key:
          type: string
        description:
          type: string
    PermissionResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Permission"
        meta:
          $ref: "#/components/schemas/Meta"
    PermissionsDataResponse:
      type: object
      description: Array of permissions (no pagination)
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Permission"
        meta:
          $ref: "#/components/schemas/Meta"
    PermissionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Permission"
        meta:
          type: object
          properties:
            pagination:
              $ref: "#/components/schemas/Pagination"
            request_id:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time

    Role:
      type: object
      properties:
        id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    CreateRoleInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
    UpdateRoleInput:
      type: object
      properties:
        name:
          type: string
    RoleResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Role"
        meta:
          $ref: "#/components/schemas/Meta"
    RoleListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Role"
        meta:
          type: object
          properties:
            pagination:
              $ref: "#/components/schemas/Pagination"
            request_id:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time

    SetPermissionsInput:
      type: object
      required: [permission_ids]
      properties:
        permission_ids:
          type: array
          items:
            type: string
            format: uuid

    RoleAssignment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        role_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    CreateRoleAssignmentInput:
      type: object
      required: [tenant_id, product_id, user_id, role_id]
      properties:
        tenant_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        role_id:
          type: string
          format: uuid
    RoleAssignmentResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/RoleAssignment"
        meta:
          $ref: "#/components/schemas/Meta"
    RoleAssignmentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/RoleAssignment"
        meta:
          type: object
          properties:
            pagination:
              $ref: "#/components/schemas/Pagination"
            request_id:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time

    UserPermissionGrant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        permission_id:
          type: string
          format: uuid
        effect:
          type: string
          enum: [ALLOW, DENY]
        granted_by:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
    CreateUserPermissionGrantInput:
      type: object
      required: [tenant_id, product_id, user_id, permission_id]
      properties:
        tenant_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        permission_id:
          type: string
          format: uuid
        effect:
          type: string
          enum: [ALLOW, DENY]
          default: ALLOW
    UserPermissionGrantResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/UserPermissionGrant"
        meta:
          $ref: "#/components/schemas/Meta"
    UserPermissionGrantListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/UserPermissionGrant"
        meta:
          type: object
          properties:
            pagination:
              $ref: "#/components/schemas/Pagination"
            request_id:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time

    Entitlement:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, suspended]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
    CreateEntitlementInput:
      type: object
      required: [tenant_id, product_id, status]
      properties:
        tenant_id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, suspended]
    UpdateEntitlementInput:
      type: object
      properties:
        status:
          type: string
          enum: [active, suspended]
    EntitlementResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Entitlement"
        meta:
          $ref: "#/components/schemas/Meta"
    EntitlementListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Entitlement"
        meta:
          type: object
          properties:
            pagination:
              $ref: "#/components/schemas/Pagination"
            request_id:
              type: string
              format: uuid
            timestamp:
              type: string
              format: date-time

    BiometricEnrollment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [face, fingerprint, rfid, nfc, retina]
        slot:
          type: string
          example: primary
        provider:
          type: string
          example: aws_rekognition
        model_version:
          type: string
          example: rekognition-v1
        consent_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    BiometricEnrollInput:
      type: object
      required: [type, image_base64, consent_at]
      properties:
        type:
          type: string
          enum: [face]
          description: Biometric modality. Only "face" is supported in v1.
        slot:
          type: string
          default: primary
          description: Named slot for multiple enrollments of the same type.
        image_base64:
          type: string
          description: Standard base64-encoded image.
        consent_at:
          type: string
          format: date-time
          description: RFC3339 timestamp when the user's consent was recorded client-side.

    BiometricVerifyInput:
      type: object
      required: [user_id, type, image_base64]
      properties:
        user_id:
          type: string
          format: uuid
          description: ID of the user whose enrollment to compare against.
        type:
          type: string
          enum: [face]
        slot:
          type: string
          default: primary
        image_base64:
          type: string
          description: Standard base64-encoded probe image.

    BiometricVerifyResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            verified:
              type: boolean
              description: True if similarity meets or exceeds the configured threshold.
            similarity:
              type: number
              format: float
              description: Similarity score between 0.0 and 1.0.
            enrollment_id:
              type: string
              format: uuid
              description: ID of the matched enrollment.
        meta:
          $ref: "#/components/schemas/Meta"

    BiometricEnrollmentResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/BiometricEnrollment"
        meta:
          $ref: "#/components/schemas/Meta"

    BiometricEnrollmentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/BiometricEnrollment"
        meta:
          $ref: "#/components/schemas/Meta"
