.hero {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dream {
  width: 240px;
  height: 240px;
  object-fit: cover;
  object-position: center 15%;
  border-radius: 50%;
  pointer-events: none;
  margin-bottom: 2rem;
  order: -1;
}

@media (min-width: 1025px) {
  .hero {
    display: block;
  }

  .dream {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    margin-bottom: 0;
    order: unset;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
